* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  color: #222;
  line-height: 1.6;
  background-color: #fafafa;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 60px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 8px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-top: 8px;
}

.hero {
  text-align: center;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.tagline {
  color: #555;
}

.links {
  margin-top: 20px;
}

.links a {
  display: inline-block;
  margin: 8px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #222;
}

.links a:hover {
  background-color: #eee;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.education-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  background-color: white;
}

.tech {
  font-size: 0.9rem;
  color: #555;
}

.experience {
  margin-top: 30px;
}

.experience span {
  font-size: 0.9rem;
  color: #666;
}

ul {
  padding-left: 20px;
}

footer {
  margin-top: 80px;
  text-align: center;
  font-size: 0.95rem;
}

.highlight {
  border-left: 5px solid #4f8cff;
}